.image img {
    display: block;
    height: auto;
    max-width: 100%;
    max-height: 128px;
    margin: 0 auto;
    width: auto;
}

.productPrice {
    font-weight: 700!important;
    color: #111;
    text-decoration: none;
    font-size: 16px!important;
    line-height: 20px!important;
}

.productPrice:hover {
    text-decoration: none;
}

.top-categories a {
    color: #fff;
}
.top-categories a:hover {
    text-decoration: underline;
    color: #fff;
}